<div class="container">
  <h2>Hover Rows</h2>
  <p>OnGo Events are  as a following:</p><br/><br/>


  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Oranization Name</th>
        <th>Created by</th>
        <th>created At</th>
        <!-- <th *ngIf="onGoEvent">Customer</th>
      </tr> -->
    </thead>
    <tbody>
      <!-- <tr *ngFor="let items of myData.data, let i = index">
        <td> {{items.Ename}}</td>
        <td> {{items.event_location}}</td>
        <td> {{items.Date}}</td>
        <td *ngIf="onGoEvent"><button class="btn btn-primary" (click)="user(items)">users</button></td>
        <td *ngIf="onGoEvent"><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">users</button></td>
      </tr> -->
     </tbody>
  </table>
</div>
<div>
